.page {
    &>aside {
        &>header {
            padding: 10px 0;
        }
        &>nav {
            li {
                position: relative;
                padding-left: 10px;
                button {
                    width: 100%;
                    text-align: left;
                }
                ul {
                    position: absolute;
                    top:0;
                    right: -100%;
                    min-width: 100%;
                    border: 1px solid @menuMainBorder;
                    background-color: @white;
                }
            }
        }
    }
}