<ul class="breadcrumb">  
    {{#each segment in breadContent}}
        <li>
            <span class="divider">&gt;</span>
            <a href="javascript://" {{action gotoRoute segment}} >{{segment.name}}</a>
        </li>
    {{/each}}
</ul>