this is category {{model.name}}<br/>
with products:<br/>
<ul>
{{#each product in model.products}}
<li>
  {{#link-to "product" product.id}}
    id:{{product.id}}&nbsp;name:{{product.name}}
  {{/link-to}}
</li>
{{/each}}
</ul>
{{outlet}}