@white: #fff;
@black: #000;
@grey: #ccc;
@darkGrey: #273631;

/** aside navigation menu **/
@menuMainBorder: @grey;

/** images **/
@homeBgImage: "../../images/starinnaya_bumaga.jpg";
@contentBgImage: "../../images/paper-texture.jpg";


@font-face {
    font-family: "OldStamp";
    src: url("../../fonts/old_stamper.ttf");
}
@font-face {
    font-family: "DearJoe";
    src: url("../../fonts/Dear_Joe.ttf");
}
@font-face {
    font-family: "Corinthia";
    src: url("../../fonts/Euroscript_Pro.otf");
}
@stampFont: OldStamp;
@DearJoe: DearJoe;
@Bickham: Corinthia;

/** fonts **/
@logoFontColor: @darkGrey;
@logoFont: @stampFont;
@titleFont: @Bickham;
